.settings
prime.lua
argparse.lua
.cash_history
.cashrc
cash.lua
bigfont.lua
pixelterm.lua
gemu.lua
test
testOut
pixelbox_lite.lua
test.dim
ccpac/perf.lua
ccpac/CraftOS.lua
ccpac/install.lua
ccpac/index.lua
ccpac/dim.lua
dimT.lua
