.settings
prime.lua
argparse.lua
.cash_history
.cashrc
cash.lua
bigfont.lua
pixelterm.lua
gemu.lua
test
testOut
pixelbox_lite.lua
test.dim
ccpac/perf.lua
ccpac/CraftOS.lua
ccpac/install.lua
ccpac/index.lua
ccpac/dim.lua
dimT.lua
crash-01-15-24_18-26-57.log
crash-10-13-23_16-26-08.log
crash-10-13-23_16-26-31.log
log.log
